
/* #region color palette */

:root{
    --fr-primary: rgba(26, 188, 156, 1);
    --fr-dark: rgba(58, 84, 109, 1); 
    --fr-darker: rgba(44, 62, 80, 1);
}

/*#endregion color palette */

/* #region utility bg-text-btn color */
  
.bg_primary{
    background-color: var(--fr-primary);
}

.bg_darker{
    background-color: var(--fr-darker);
}

.bg_dark{
    background-color: var(--fr-dark);
}

.text_primary{
    color: var(--fr-primary);
}

button.btn.btn-primary{
    background-color: var(--fr-primary);
}

/* #endregion utility bg-text-btn color */

/* #region star+social style */


.star-icon::before, .star-icon::after{
    content: '';
    width: 10%;
    height: 3px;
    display: block;
    background-color: currentColor;
}


.social-icon{
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.2rem;
}

/* #endregion star+social style */

/* #region hovers */

.btn:has(.fa-download):hover{
    
    > span{
    color: var(--fr-dark);
    }

    > i{
    color: var(--fr-dark);
    }
}

.btn.btn-primary:hover{
    background-color: var(--fr-dark);
}

.social-icon:hover{
    background-color: var(--fr-primary);
}


.star-icon:has(.fa-star:hover){

    &::before{
        width: 50%;
    }
    &::after{
        width: 50%;
    }
}


.overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(35, 134, 114, 0.705);
    justify-content: center;
    align-items: center;
    display: none;
    
    > .fa-plus{
        font-size: 2.5rem;
    }
}

.image:hover .overlay{
    display: flex;
}
